<p>
  dashboard works!
</p>

<div class="card-view">

  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <div class="card gradient-orange-amber" routerLink="/addproducts">
        <div class="card-body">
          <div class="px-4 py-4">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-glass text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">Add Product</h3>
                <span>New Products</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card gradient-orange-amber" routerLink="/addbills">
        <div class="card-body">
          <div class="px-4 py-4">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-list-alt text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">Add Bills</h3>
                <span>New Bill</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-3">
      <div class="card gradient-orange-amber" routerLink="/adddaily">
        <div class="card-body">
          <div class="px-4 py-4">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-book text-white font-large-2 float-left" ></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">Add Sale/Profit</h3>
                <span>Daily Record</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-3"> 
    <div class="card gradient-orange-amber" routerLink="/addproducts">
      <div class="card-body">
        <div class="px-4 py-4">
          <div class="media">
            <div class="align-center">
              <i class="fa fa-codepen text-white font-large-2 float-left"></i>
            </div>
            <div class="media-body text-white text-right">
              <h3 class="text-white">View Products</h3>
              <span>Update Products</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3"> 
      <div class="card gradient-orange-amber" routerLink="/viewbills">
        <div class="card-body">
          <div class="px-4 py-4">
            <div class="media">
              <div class="align-center">
                <i class="fa fa-briefcase text-white font-large-2 float-left"></i>
              </div>
              <div class="media-body text-white text-right">
                <h3 class="text-white">View Bills</h3>
                <span>Bills Record</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3"> 
        <div class="card gradient-orange-amber" routerLink="/viewdaily">
          <div class="card-body">
            <div class="px-4 py-4">
              <div class="media">
                <div class="align-center">
                  <i class="fa fa-balance-scale text-white font-large-2 float-left"></i>
                </div>
                <div class="media-body text-white text-right">
                  <h3 class="text-white">View Sale/Profit</h3>
                  <span>Sale/Profit record</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
