<div class="container">
<!--Striped rows Light Starts-->
<section id="striped-light">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header">
                  <div class="card-title-wrap bar-info">
                      <h4 class="card-title">List Of Bills</h4>
                  </div>
                 
                  <div class="row">
                      <div class="col-2 "><select id="projectinput6" name="budget" class="form-control " (change)="selectChangeHandler($event)">
                            <option value="0" selected="" disabled=""> Month</option>
                            <option value="jan">JAN</option>
                            <option value="feb">FEB</option>
                            <option value="mar">MAR</option>
                            <option value="apr">APR</option>
                            <option value="may">MAY</option>
                            <option value="jun">JUN</option>
                            <option value="jul">JUL</option>
                            <option value="aug">AUG</option>
                            <option value="sep">SEP</option>
                            <option value="oct">OCT</option>
                            <option value="nov">NOV</option>
                            <option value="dec">DEC</option>

                        </select></div>
                      <div class="col-2 right">  
                            
                                <select id="projectinput6" name="budget" class="form-control " (change)="selectChangeHandler1($event)">
                                        <option value="0" selected="" disabled=""> Year</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                        <option value="2031">2031</option>
                                        <option value="2032">2032</option>
                                        <option value="2033">2033</option>
                                        <option value="2034">2034</option>
                                        <option value="2035">2035</option>
                                        <option value="2036">2036</option>
                                        <option value="2037">2037</option>
                                        <option value="2038">2038</option>
                                        <option value="2039">2039</option>
                                        <option value="2040">2040</option>
                                       
    
                                    </select>
                                    
            
                      </div>
                      <div class="col-md-1"> <a class="btn btn-raised mr-1 shadow-z-2 btn-success left" (click)="searchBills()">Search</a></div>
                      <div class="col-1"> </div>
                      <div class="col-3"> <input type="date"  [(ngModel)]="dp" class="form-control"></div>
                          
                         
                              <button type="button" (click)="datePicker()"  class="btn btn-raised mr-1 shadow-z-2 btn-info">Submit</button>
                            <button class="btn btn-raised mr-1 shadow-z-2 btn-success" (click)="selectToday()">Today's Bills</button>
                            <button class="btn btn-raised mr-1 shadow-z-2 btn-success"  printSectionId="print-section" ngxPrint
                            [printStyle]="{ li : {'color': 'red'}, tbody : {'border': 'solid 1px'} , div:{'border': 'solid 2px';'color':'blue'}}">print</button>
                            
                      
                </div>
                <div id="print-section">
                <div class="row">
                    <div class="col-md-12" >
                            <div class="col-6"><ul class="list-group">
                                    <li class="list-group-item left final "*ngIf="set!=0"><b> Total Investment:</b> {{set}}<b> Total Save:</b> {{set1}}<b> Total Sale:</b> {{set2}}</li>
                                   
                                </ul>
                                    </div>
                    <div class="col-6"><div class="input-group" >
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search Bill" name="searchText" [(ngModel)]="searchText" >
                          </div></div>
                   
                    <!-- <div class="col-md4"></div> -->
                    
                </div>
            </div>
           
              <div class="card-body" >
                  <div class="card-block">
                      <table class="table table-striped">
                          <thead>
                              <tr class="table-head">
                                  <th>#</th>
                                  <th>Bill No</th>
                                  <th>No Of Products</th>
                                  <th>Total Price</th>
                                  <th>Creation Date</th>
                              </tr>
                          </thead>
                          <tbody *ngFor="let item of bills;let i=index">
                              <tr *ngIf = "filterCondition(item)"  (click)="onClickBill(item)">
                                  <th scope="row">{{i+1}}</th>
                                  <td>{{item._id}}</td>
                                  <td></td>
                                  <td>{{item.totalSale}}</td>
                                  <td>{{item.date | date  :"medium"}}</td>
                              </tr>
                            
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<!--Striped rows Light Ends-->
</div>