<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container-fluid">
        <h2>Point Of Sale </h2>
      <div class="navbar-header">
       
       
      
      </div>
      <div class="navbar-container">
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <div class="row">
              <div class="col-md-1" (click)="addProduct()">Add Products</div>
             
             

              <div class="col-md-1" (click)="addProduct()">  
                  <i class="fa fa-cubes cart" aria-hidden="true cart" ></i>
                  
              </div>
              <div class="col-md-1" routerLink="/makeorder">Add Cart</div>
             
             

            <div class="col-md-1" routerLink="/makeorder">  
                <i class="fa fa-shopping-basket cart" aria-hidden="true" ></i>
                
            </div>
            <div class="col-md-1" routerLink="/cart">Cart</div>
             
             

            <div class="col-md-1">  
                <i class="fa fa-shopping-cart cart" aria-hidden="true" routerLink="/cart"></i>
                
            </div>
            <div class="col-md-1">Bills</div>

            <div class="col-md-3">  
                
                <i class="fa fa-list-alt  cart" aria-hidden="true" routerLink="/orderslist"></i>
                
            </div>
            <div class="col-md-1" (click)="logout()">LogOut</div>

            <div class="col-md-1">  
                <i class="fa fa-circle-o-notch cart" aria-hidden="true" (click)="logout()"></i>
                
            </div>
           
        
          
        </div>
         
         
         

        </div>
      </div>
    </div>
  </nav>