.right{
    text-align: right !important;
}
.chose{
    
}
.size{
    width: 100px;
}
.table-head{
    background: #69F0AE;
}
.final{
    background: #B2FF59
}
.container{
    max-width: 100% !important;
}