<!-- 
  <button class="btn btn-danger" (click)="checkout()">CHECKOUT</button>


  
  <div class="col-25">
    <div class="container">
      <h4>Cart 
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i> 
          
        </span>
      </h4>
      <li class="ul"  *ngFor="let x of api.cart">
      <p>{{x?.name}} <span class="price">{{x?.price}}$</span></p>
      <button class="btn btn-raised gradient-flickr white big-shadow" (click)="remove(x.id)">remove</button>
    
      <hr></li>
      <p>Total <span class="price" style="color:black"><b>{{total}}</b></span></p>
    </div>
  </div> -->

  <div class="container">
<div class="container">
    <div class="row"> 
        <div class=" col-md-6 ">
            <button class="btn btn-raised gradient-blue-grey-blue white checkout" (click)="checkout1()">CHECKOUT</button>
                   <!-- <ul class="list-group">
                   
                       <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
                      
                   </ul>
       -->
     </div> <div class=" col-md-6 " >
     
        
                 <ul class="list-group" >
                 
                     <li class="list-group-item list-group-item-info">Total Amount :      <b> {{net}}</b>  </li>
                    
                 </ul>
     
     </div></div>
</div>








  <!--Basic Table Starts-->
<section id="simple-table">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header">
                  <div class="card-title-wrap bar-success">
                      <h4 class="card-title">Current Cart</h4>
                  </div>
             
              </div>
              <div class="card-body">
                  <div class="card-block">
                      <table class="table">
                          <thead>
                              <tr class="table-head">
                                  <th>#</th>
                                  <th>Poduct Name</th>
                                  <th>Product Price</th>
                                  <th>Quantity</th>
                                  <th>Warrenty </th>
                                  <th>Total</th>

                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let x of cart ;let i=index">
                                  <th scope="row">{{i+1}}</th>
                                  <td>{{x.name}}</td>
                                  <td>{{x.saleprice}}</td>
                                  <td>{{x.quantity}}</td>
                                  <td *ngIf="x.warrenty!=''">{{x.warrenty}}</td>
                                  <td>{{x.saleTotal}}</td>
                                  <td>   <a (click)="remove(x._id)"  class="btn btn-raised gradient-flickr white">Remove</a></td>
                              </tr>
                             
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Basic Table Ends-->


</div>