
 <div class="container">
   <h3> <u>Enter Products To Cart</u> </h3>
     
 
    
  <div class="row">
    <div class="col-md-6">
      <div class="form-group"><i class="title">Name</i>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Product Name" name="name" [(ngModel)]="name">
      <i class="title">price</i>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter Product Name" name="price" [(ngModel)]="price">
        <i class="title"> Sale price</i>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter Product Name" name="sale" [(ngModel)]="sale">
        <i class="title">Quantity</i>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter Product Name" name="quantity" [(ngModel)]="quantity">
         
            </div>
            <div class="row">
                <div class="col-md-6">
                   
                    <button class="btn btn-raised gradient-green-tea white shadow-z-1-hover main" (click)="checkout()" >Place Oredr</button>
                </div>
                <div class="col-md-3">
                    <button type="button"  class="btn btn-raised gradient-blue-grey-blue white shadow-big-navbar main" (click)="cart()" >View Cart</button>
                    
          </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-raised gradient-blue-grey-blue white shadow-big-navbar main" (click)="addProductToCart()"  *ngIf="quantity&&name&&price&&sale !=null">Add Cart</button></div>
            <!-- <button type="button"  class="btn btn-raised gradient-blue-grey-blue white shadow-big-navbar main" (click)="cart()" >Add Cart</button> -->



          </div>
    </div>
    
   
    <div class="col-md-6">
      
        <div class="input-group" >
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search">
          </div>
      <table class="table">
      
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Name</th>
               
                <th class="text-right">Price</th>
               <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
               
              
          
            <tr  *ngFor="let item of products ; let i=index" (click)="onClick(item)">
                <td class="text-center">{{i+1}}</td>
                <td>{{item.name}}</td>
                
                <td class="text-right">{{item.price}}</td>
              
            </tr>
        </tbody>
    </table></div>
  </div>
    </div>
   


 
